<div class="cards">
    <mat-card>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  novalidate >
  
      <mat-card-title><h2>¡Bienvenido de vuelta!</h2></mat-card-title>
  
      <mat-card-content class="inputText">
        <mat-label style="font-size: 13pt;" class="label">Correo</mat-label>
        <mat-form-field class="custom-width">
          <input
            matInput
            formControlName="correo"
            placeholder="persona@correo.com" type="email"
          />
        </mat-form-field>
      </mat-card-content>
  
      <mat-card-content>
          <mat-label style="font-size: 13pt;" class="label">Contraseña</mat-label>
          <mat-form-field class="custom-width">
            <input class="input"
              matInput
              formControlName="contrasenna" type="password"
            />
          </mat-form-field>
        </mat-card-content>
  
        <mat-card-actions  class="button" >
  
        <button style="width: 60%;"mat-raised-button color="accent" type="submit">Ingresar</button>
  
      </mat-card-actions>
  
  </form>
    </mat-card>
  
  
   
  
  </div>
  