<form [formGroup]="productoForm" (ngSubmit)="submit()" novalidate>
  <input type="hidden" formControlName="id" />
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{titleForm}} Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput formControlName="nombre" placeholder="Nombre">
          </mat-form-field>
        </div>
      </div>

 <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput formControlName="codigoProducto" placeholder="SKU">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput formControlName="descripcion" placeholder="Descripción">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput formControlName="precio" placeholder="Precio">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col" *ngIf="categoriasList">
          <mat-form-field class="full-width">
            <mat-select placeholder="Seleccione una categoría" formControlName="categoria">
              @for (item of categoriasList; track item.id) {
              <mat-option [value]="item.id">
                {{item.nombre}}
              </mat-option>
              }

            </mat-select>
            @if (errorHandling('categoria')) {
            <mat-error>
              {{errorHandling('categoria')}}
            </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col" *ngIf="subCategoriasList">
          <mat-form-field class="full-width">
            <mat-select placeholder="Seleccione una Sub-Categoría" formControlName="subCategoria">
              @for (item of subCategoriasList; track item.id) {
              <mat-option [value]="item.id">
                {{item.nombre}}
              </mat-option>
              }

            </mat-select>

          </mat-form-field>
        </div>


        <div class="row">
          <div class="col">
            <mat-label>Estado del producto</mat-label>
            <mat-radio-group formControlName="estadoProducto">
              <mat-radio-button [value]="true">Nuevo</mat-radio-button>
              <mat-radio-button [value]="false">Usado</mat-radio-button>
            </mat-radio-group>
            @if (errorHandling('estadoProducto')) {
              <mat-error>
                {{errorHandling('estadoProducto')}}
              </mat-error>
            }
          </div>
        </div>
      </div>


    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row">
        <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
        <button mat-raised-button color="primary" (click)="onBack()">Regresar</button>
        <button mat-raised-button color="accent" type="submit">Guardar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>