<div class="body">
<form [formGroup]="productoForm" (ngSubmit)="submit()" novalidate>
  <input type="hidden" formControlName="id" />
  <mat-card-header>
    <mat-card-title>{{titleForm}} Producto</mat-card-title>
  </mat-card-header>
  <mat-card class="shipping-card"  >
   
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-label>Nombre</mat-label>

          <mat-form-field class="full-width">
            <input matInput formControlName="nombre" placeholder="Computadora portatil">
          </mat-form-field>
        </div>
      </div>



      <div class="row">
        <div class="col">
          <mat-label>Descripción</mat-label>

          <mat-form-field class="full-width">
            <input height="150px" matInput formControlName="descripcion" placeholder="Descripción del Producto">
          </mat-form-field>
        </div>

        <div class="col">
          <mat-label>Precio</mat-label>

          <mat-form-field class="full-width">

            <input matInput formControlName="precio" placeholder="Precio">
            <span style="color: black;" matTextPrefix>₡&nbsp;</span>

          </mat-form-field>
        </div>
        <div class="col">
          <mat-label>Stock</mat-label>

          <mat-form-field class="full-width">
            <input matInput formControlName="stock" [disabled]="true" >
          </mat-form-field>
        </div>
      </div>
      

      <div class="row">

        <div class="col" *ngIf="categoriasList">
          <mat-label>Categoría</mat-label>

          <mat-form-field class="full-width">
            <mat-select placeholder="--Seleccione" formControlName="categoria">
              @for (item of categoriasList; track item.id) {
              <mat-option [value]="item.id">
                {{item.nombre}}
              </mat-option>
              }

            </mat-select>
            @if (errorHandling('categoria')) {
            <mat-error>
              {{errorHandling('categoria')}}
            </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col" *ngIf="subCategoriasList">
          <mat-label>Sub-Categoría</mat-label>

          <mat-form-field class="full-width">
            <mat-select placeholder="--Seleccione" formControlName="subCategoria">
              @for (item of subCategoriasList; track item.id) {
              <mat-option [value]="item.id">
                {{item.nombre}}
              </mat-option>
              }

            </mat-select>

          </mat-form-field>
        </div>


        <div class="row">
          <div class="col">
            <mat-label>Estado del producto</mat-label>
            <mat-radio-group formControlName="estadoProducto">
              <mat-radio-button [value]="true">Nuevo</mat-radio-button>
              <mat-radio-button [value]="false">Usado</mat-radio-button>
            </mat-radio-group>
            @if (errorHandling('estadoProducto')) {
              <mat-error>
                {{errorHandling('estadoProducto')}}
              </mat-error>
            }
          </div>
        </div>
      </div>


    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="onBack()"><mat-icon>arrow_back</mat-icon>Atras</button>
        <button mat-raised-button style="background-color: cadetblue; color: bisque;" (click)="onReset()"><mat-icon>cleaning_services</mat-icon> Limpiar Campos</button>
        <button mat-raised-button style="background-color: green; color: bisque;" type="submit"><mat-icon>save</mat-icon>Guardar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form></div>