<mat-toolbar color="primary">

    <img src="./assets/images/Imagen1.png" alt="Logo" style="height: 50px; margin-right: 20px; border-radius: 20px;">
  <span class="navbar-brand">Multishop</span>

  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    style="flex-grow: 1"
  ></div>

  <!-- Elementos de navegación a la derecha -->
  <div class="navbar-nav ml-auto">
    <a mat-button [routerLink]="['/inicio']" routerLinkActive="link-active">
      <mat-icon> cottage</mat-icon> Inicio
    </a>
    <a mat-button [routerLink]="['/producto']" routerLinkActive="link-active"
      ><mat-icon> storefront</mat-icon>Productos
    </a>
    <a mat-button [routerLink]="['/inicio']" routerLinkActive="link-active">
      <mat-icon> inventory_2</mat-icon>Inventario
    </a>
    <a mat-button [routerLink]="['/inicio']" routerLinkActive="link-active">
      <mat-icon matBadge="0" matBadgeColor="accent"> shopping_cart</mat-icon
      >Ordenes de compra
    </a>
    <a mat-button [routerLink]="['/login']" routerLinkActive="link-active">
      <mat-icon> person</mat-icon>Iniciar Sesión
    </a>
  </div>
</mat-toolbar>
