<form [formGroup]="InventarioForm" (ngSubmit)="submit()" novalidate>
    <input type="hidden" formControlName="id" />
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>{{titleForm}} Inventario</mat-card-title>
        </mat-card-header>
        <mat-card-content>



            <div class="row">
                <div class="col" *ngIf="ProductoList">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Seleccione una Producto" formControlName="idProducto">
                            @for (item of ProductoList; track item.id) {
                            <mat-option [value]="item.id">
                                {{item.nombre}}
                            </mat-option>
                            }

                        </mat-select>

                    </mat-form-field>
                </div>

                <div class="col" *ngIf="BodegaList">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Seleccione una Bodega" formControlName="idBodega">
                            @for (item of BodegaList; track item.id) {
                            <mat-option [value]="item.id">
                                {{item.nombre}}
                            </mat-option>
                            }

                        </mat-select>

                    </mat-form-field>
                </div>

            </div>


            <div class="row">

                <div class="col">
                    <mat-label>Cantidad Producto</mat-label>
                    <mat-form-field class="full-width">
                        <input height="150px" matInput formControlName="cantidad" placeholder="Cantidad de Producto">
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-label>Cantidad Minima Producto</mat-label>
                    <mat-form-field class="full-width">
                        <input matInput formControlName="cantidadMinima" placeholder="Cantidad Minima del Producto">
                        <span style="color: black;" matTextPrefix>&nbsp;</span>

                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-label>Cantidad Maxima Producto</mat-label>
                    <mat-form-field class="full-width">
                        <input matInput formControlName="cantidadMaxima" placeholder="Cantidad Maxima del Producto">
                        <span style="color: black;" matTextPrefix>&nbsp;</span>

                    </mat-form-field>
                </div>

            </div>


        </mat-card-content>
        <mat-card-actions>
            <div class="example-button-row">
                <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
                <button mat-raised-button color="primary" (click)="onBack()">Regresar</button>
                <button mat-raised-button color="accent" type="submit">Guardar</button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>